<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <img
      class="icon icon--primary collapsible__chevron"
      src="images/chevron.svg"
      alt="icon icon--primary collapsible__chevron"
    />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed explicabo velit
    cumque amet asperiores tempore, obcaecati tenetur beatae rem, ipsa
    laboriosam aliquam numquam officiis aut. Delectus rem suscipit quos
    veritatis vel neque repellat corporis?
  </div>
  <script src="main.js"></script>
</div>
